{% extends 'authentication/base.html' %}
{% load static %}

{% block content %}
<div class="flex min-h-screen bg-white">
    <div class="hidden lg:flex flex-1  items-center justify-center p-12 " style="height: 700px;">
        <img src="../../../product/Kendall-Jenner-FWRD-Fall-24-13.webp" alt="Simple is More" class="w-full h-full object-cover rounded">
      </div>
  <div class="flex-1 flex items-center justify-center">
    <div class="w-full max-w-md">
      <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <div class="p-8">
          <div class="mb-6 text-center">
            <h2 class="text-2xl font-bold text-gray-900" style="font-family:'poppins';">Create an account</h2>
            <p class="text-sm text-gray-600 mt-2" style="font-family:'poppins';" >Please fill in the form to register</p>
          </div>
          <form method="post" style="font-family:'poppins';">
            {% csrf_token %}
            <div class="space-y-4">
              {% for field in form %}
                <div>
                  <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">
                    {{ field.label }}
                  </label>
                  <div class="mt-1">
                    {{ field }}
                  </div>
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <p class="text-red-500 text-xs italic">{{ error }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            <div class="mt-6">
              <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-black hover:bg-white hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Sign up
              </button>
            </div>
          </form>
          <div class="mt-6">
            <div class="relative">
              <div class="absolute inset-0 flex items-center">
                <div class="w-full border-t border-gray-300"></div>
              </div>
              <div class="relative flex justify-center text-sm" style="font-family:'poppins';">
                <span class="px-2 bg-white text-gray-500">
                  Or continue with
                </span>
              </div>
            </div>
            <div  class="mt-6" style="font-family:'poppins';">
              <a href="#" class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                <img src="../../../product/google.png" alt=" " width="15px" height="15px" class="m-1">
                Google
              </a>
            </div>
          </div>
          <p class="mt-6 text-center text-sm text-gray-600" style="font-family:'poppins';">
            Already have an account?
            <a href="{% url 'login' %}" class="font-medium text-green-600 hover:text-black">
              Log in
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  
</div>
{% endblock %}